<app-nav
  [view]="view"
  [favCount]="favCount"
  (viewChange)="onNavChange($event)">
</app-nav>

<app-book-list
  *ngIf="view === 'home'"
  [books]="books"
  [categories]="categories"
  [favorites]="favorites"
  (bookSelected)="onBookSelected($event)"
  (favToggled)="onFavToggled($event)">
</app-book-list>

<app-favorites
  *ngIf="view === 'favorites'"
  [books]="books"
  [favorites]="favorites"
  (bookSelected)="onBookSelected($event)"
  (favToggled)="onFavToggled($event)">
</app-favorites>

<app-book-detail
  *ngIf="selectedBook"
  [book]="selectedBook"
  [isFav]="favService.isFav(selectedBook.id)"
  (closed)="onModalClosed()"
  (toggleFav)="onFavToggled($event)"
  (reviewAdded)="onReviewAdded($event)">
</app-book-detail>